/*
@font-face {
    font-family: 'Klavika Rg';
    src: url('fonts/Klavika-Regular.woff2') format('woff2'),
        url('../fonts/Klavika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Lt';
    src: url('fonts/Klavika-Light.woff2') format('woff2'),
        url('fonts/Klavika-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Bd';
    src: url('fonts/Klavika-Bold.woff2') format('woff2'),
        url('fonts/Klavika-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Md';
    src: url('fonts/Klavika-Medium.woff2') format('woff2'),
        url('fonts/Klavika-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
*/



body, html{
	padding:0;
	margin:0;
	overflow-x: hidden;
		font-family: Klavika;
}
.banner-sec{
	text-align: center;
	color: #fff;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.banner-sec h1{
		position: absolute;
		left:0;
		right: 0;
		top:0;
		margin: auto;
		bottom: 0;
		font-size: 55px;
		height: 118px;
		max-width: 60%;
		font-family: Klavika;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1.5px;
}

footer{
	background: #17151e;
	padding: 40px 15px;
	color: #fff;
    font-family: Klavika;
}
footer .footer-logo{
	width: 204px;
  height: 22px;
  mix-blend-mode: undefined;
  font-family: Klavika;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: -0.1px;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
footer .footer-logo img{
    float: left;
	max-width: 28px;
opacity: .8;
}
footer .footer-logo span{
    float: left;
    margin: 3px 5px;
opacity: .8;
}
footer p{
	font-size: 13px;
    display: block;
    float: left;
    margin: 20px 0;
	font-weight: 300;
	opacity: .8;
    width: 100%;
}
footer ul{
	list-style: none;
	padding:0;
	margin:0;
	clear: both;
	display: block;
}
footer ul li{
	vertical-align: middle;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 7px;
}
footer ul li a{
	opacity: .8;
	color:#fff;
	vertical-align: middle;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 7px;
}
footer ul li a:hover{
    color:#5966c0;
    opacity:1;
}
footer ul li i.material-icons{
	font-size: 18px;
	vertical-align: top;
}
small.copyright{
	font-size: 13px;
	opacity: .8;
	font-weight: 300;
	margin-top:0px;
	display: inline-block;
}
footer .col-1{
	width: 23%;
	float: left;
	padding:0 15px;
}
footer .col-2{
	width: 30%;
	float: left;
	padding:0 15px;
}
footer .col-3{
	width: 13%;
	float: left;
	padding:0 15px;
}
footer .col-4{
	width: 13%;
	float: left;
	padding:0 15px;
}
footer .col-5{
	width: 11%;
	float: left;
	padding:0 0;
}
footer .subscribe input{
	background:#fff;
	font-size: 13px;
	width: 50%;
	float: left;
	border:0;
	height: 35px;
	font-weight: 300;
	padding:0 10px;
	color: #333; 
}
footer .subscribe button{
	background-color: #1fe8b7;
	border:1px solid #1fe8b7;
	font-size: 12.5px;
	width: 40%;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	float: left;
	letter-spacing: 1px;
	color: #333;
	font-family: Klavika;
	border:0;
	height: 35px;
	line-height: 30px;
	text-align: center;
	padding:0 10px;
	cursor: pointer;

}
footer .subscribe button:hover{
	background:none;
	border:1px solid #1fe8b7;
}
footer .links ul li{
	margin-bottom:7px;
}
footer .links ul li a{
	opacity:.9;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
}
footer .links ul li a:hover{
	opacity: 1;
	color:#5966c0;
}
.clearfix2{
	clear: both;
	width: 100%;
}
.btm-footer{
	padding:0 15px;
}
.btm-footer ul{
	float: right;
	list-style: none;
	padding: 0;
	margin:0;
}
.btm-footer ul li{
	display: inline-block;
	color: #fff;
}
.btm-footer ul li a{
	display: inline-block;
	color: #fff;
	opacity: .8;
	margin:0 4px;
	font-size: 15px;
}
.btm-footer ul li a:hover{
	opacity: 1;
	color:#5966c0;
}
.btm-footer{
	margin-top:20px;
}


// MAKE IT A FULL WIDTH BANNER
.banner-box .container {
    max-width: 70%;
    margin: 0 auto;
}
.banner-box {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    
}
#main-outlet {
    padding-top: 44px;
}

// Theme customize css

.category-list.with-topics th{
    text-transform:uppercase;
    padding-bottom: 0;
    padding-left: 10px;
}
.category-list.with-topics tbody .category{
    border-width:2px;
}
button#create-topic{
    background:none;
    text-transform:uppercase;
    border:1px solid #2a3093;
    color:#2a3093;
    padding:5px 15px;
}
button#create-topic:hover{
    background:#2a3093;
    color:#fff;
}
.nav-pills>li.active>a, .nav-pills>li>a.active{
    background:#e20c5e;
}
.nav-pills>li:hover>a, .nav-pills>li>a:hover{
    background:none;
    color:#2a3093;
}
#navigation-bar li a{
    font-size:13px;
    letter-spacing: .5px;
}
.navigation-container.ember-view ol li{
    text-transform:capitalize;
}
.select-kit.combo-box.category-drop .category-drop-header{
    padding:4px 10px;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: .5px;
}
.category-list.with-topics tr td:first-child:before {
    content: '';
    height: 10px;
    display: block;
    background: #fff;
    position: absolute;
    z-index: 9;
    width: 6px;
    left: -4px;
    top: 0;
}
.category-list.with-topics tr td:first-child:after {
    content: '';
    height: 10px;
    display: block;
    background: #fff;
    position: absolute;
    z-index: 9;
    width: 6px;
    left: -4px;
    bottom: -1px;
}
.category-list.with-topics tr td{
    position:relative;
}
.category-list tbody .category h3{
    font-weight:normal;
}
















